{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}

<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">About me</h5>
    <h6 class="card-subtitle mb-2 text-muted">This is what i do</h6>
    <p class="card-text">My Name is Prathamesh Prakash Mandavkar. <br> 
      Curruently,I studying <strong>BTech in Data Science</strong> from <strong><a href="https://coes.dypgroup.edu.in/">D. Y. Patil College Of Engineering,Salokhenagar,Kolhapur</strong></a>. <br>
      Also,We are <strong>Python Developer!
    </p>
  </div>
</div>
{% endblock body %}